{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registro - SISTOCK{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-user-plus"></i> Criar Conta</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-user-plus"></i> Registrar
                    </button>
                </form>
                <hr>
                <p class="text-center">
                    Já tem conta? <a href="{% url 'accounts:login' %}">Faça login aqui</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
